body {
    margin: 0;
}

.root-container {
    display: flex;
    flex-direction: column;

    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/HVLtopia.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Flexbox container som holder alle elementer i navbaren */
.navbar-container {
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    align-content: center;
    align-items: center;

    /* Position */
    margin: 0;
    padding: 0;
    height: 100px;

    /* Styling */
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

/* Styling for Logo og tittel */
.left-navbar-container {
    /* Flexbox */
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* Position */
    margin: 0;
    padding: 0;
    height: inherit;
}

/* Ensure the parent container uses Flexbox */
.right-navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

/* Center the text inside the <a> element */
.right-navbar-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
}

.right-navbar-container a:hover {
    text-decoration: 3px solid rgb(255, 207, 185) underline;
    /*background-color: rgba(255, 255, 255, 0.3);*/
}

/* Styling for Sidetittel i navbar */
.nav-header {
    /* Position */
    padding: 15px;
    margin: 0;

    /* Text-styling */
    color: white;
    font-size: 40px;
    font-family: Verdana, sans-serif;
    line-height: 1;
}

/* Logo i navbar */
.nav-logo {
    /* Position */
    margin: 10px;
    padding: 0;
    width: auto;
    height: 80%;

    /* Styling */
}

/* Styling for knapper i navbar */
.nav-page-btn {
    /* Position */
    margin: 0;
    padding: 10px;
    height: inherit;

    /* Text-styling */
    color: whitesmoke;
    font-size: 25px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

/* Flexbox for Velkommen, visjon og utforskknapp */
.text-container {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-grow: 8;

    margin: 20px;
    height: inherit;
}

/* Styling for velkommsttekst */
.greeting {
    /* Text styling */
    color: white;
    font-size: 70px;
    font-family: Verdana, sans-serif;
    padding: 10px;
}

/* Styling for visjontekst */
.visjon {
    /* Text styling */
    color: white;
    text-align: left;
    font-size: 30px;
    margin-top: 0;
    font-family: Verdana, sans-serif;
    padding: 10px;
}