/* .landing-page {
    background-repeat: no-repeat;
    background-image: url('../img/nature.jpg');
    background-size: cover;
} */

.test {
    background-repeat: no-repeat;
    background-image: url('../img/nature.jpg');
    background-size: cover;
    height: 100vh;
}
.welcome {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    position: absolute;
    top: 20rem;
}
.welcome h1 {
    margin: 0;

    color: white;
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome h2 {
    margin: 0;
    color: white;

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
.welcome button {
    padding: 1rem;
    margin: 1rem 0 0 0;
    width: 20rem;

    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);

    background-color: rgba(185, 255, 215, 0.2);
    backdrop-filter: blur(20px);
    border: solid 0.25rem rgb(208, 208, 208);
    border-radius: 2rem;
}
main {
    padding: 1rem;
}

.text-beskrivelse {
    color: black;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.landingpage-container {
    display: flex;
    flex-direction: row;
    padding: 3rem;
}

.mar {
    margin-right: 5rem;
}

.test_img {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
}

.members-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.members-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 15%;

    padding: 1.25rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;

    background-color: whitesmoke;
    border-radius: 1rem;
}

.members-container h3 {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.members-container h4 {
    margin: 0;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.members-container img {
    margin: 1rem 0 0 0;
    width: 10rem;
    clip-path: circle(50% at 50% 50%);
}
.members-container button {
    padding: 1rem;
    margin: 1rem 0 0 0;
    width: 100%;

    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 0.5rem;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    background-color: seagreen;
}

.footer-pages {
    display: flex;
    flex-direction: column;
}

.footer-some a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem;
}

.footer-kontaktinfo {
    color: white;
    font-size: 1.25rem;
}

.footer-kontaktinfo p {
    padding: 0.5rem;
}

.footer-some {
    display: flex;
    flex-direction: column;
}
.footer-some p {
    color: white;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    width: inherit;
}
.column {
    display: flex;
    flex-direction: column;
    width: inherit;
}
input {
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    background-color: rgb(248, 250, 252);
    border: solid 0.2rem rgb(226, 232, 240);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
.send-knapp {
    margin-top: 1rem;
    padding: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    background-color: rgb(59, 130, 246);
    border: none;
    border-radius: 0.5rem;
    width: 10rem;
}
h2 {
    text-align: center;
    font-size: 2em;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
}
td,
th {
    text-align: center;
    padding: 1%;
}