body {
    background-image: url("../img/HVLtopia.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
}

/* Flexbox container som holder alle elementer i navbaren */
.navbar-container {
    /* Flexbox */
    display: flex;
    justify-content: space-between;

    /* Styling */
    background-color: rgb(25, 66, 85);
}

/* Styling for Logo og tittel */
.left-navbar-container {
    /* Flexbox */
    display: flex;
    justify-content: flex-start;

    /* Styling */
    align-items: center;
}

/* Styling for linker */
.right-navbar-container {
    /* Flexbox */
    display: flex;
    justify-content: flex-end;

    /* Styling */
    align-items: center;
    height: auto;
}
.title {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.logo {
    width: 125px;
    height: 125px;;

    background-color: rgb(15, 48, 64);
}

.page-link-btn {
    /* Styling */
    padding: 10px;

    /* Text styling */
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.text-container {
    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Styling */
    height: 100vh;
}

.greeting-text {
    /* Text styling */
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.visjon-text {
    /* Text styling */
    color: white;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}